export(
  eigenangles,
  gPCA,
  compare.gpca,
  correct.batch.effect,
  integrate.experiments,
  do_eigenangles,
  do_gPCA
)

import(purrr)
importFrom(magrittr,`%>%`)
importFrom(magrittr,`%<>%`)
import(ggplot2)
import(ggforce)
import(latex2exp)
import(parallel)
import(doSNOW)
import(gridExtra)
import(SummarizedExperiment)
import(sva)
import(RUVSeq)
import(batchelor)