export(
  eigenangles,
  plot.eigenangles,
  tanmean,
  plot.eigenangles.tanmean,
  gPCA,
  print.gpca,
  plot.gpca,
  do_gPCA,
  eigenangles_wrapper, eigenangles_wrapper.SummarizedExperiment, eigenangles_wrapper.ExpressionSet,
  eigenangles_benchmark,
  load_experiments,
  download_experiments_from_ExpressionAtlas,
  remove_isolated_experiments,
  merge_experiments,
  correct_batch_effect, correct_batch_effect.SummarizedExperiment, correct_batch_effect.ExpressionSet
)

import(purrr)
import(magrittr)
import(ggplot2)
import(plyr)
import(dplyr)
import(tibble)
import(matrixStats)
import(stringr)
import(parallel)
import(doSNOW)
import(gridExtra)
import(SummarizedExperiment)
import(Biobase)
import(sva)
import(RUVSeq)
import(batchelor)
importFrom(igraph, graph_from_adjacency_matrix)
importFrom(igraph, plot.igraph)
import(gtools)