export(
  eigenangles,
  plot.eigenangles,
  tanmean,
  plot.tanmean,
  gPCA,
  print.gpca,
  plot.gpca,
  do_gPCA,
  do_eigenangles,
  apply_eigenangles,
  benchmark_eigenangles
)

import(purrr)
importFrom(magrittr,`%>%`)
importFrom(magrittr,`%<>%`)
import(ggplot2)
import(ggforce)
import(latex2exp)
import(parallel)
import(doSNOW)
import(gridExtra)
import(SummarizedExperiment)
import(sva)
import(RUVSeq)
import(batchelor)